body {
    background-color: white;
    color: black;
}

h2 {
    font-family: 'Patric Hand';
    margin: 0;
}

header {
    display: grid;
    place-items: center;
}

.formation {
    border: solid black;
    border-radius: 20px;
    max-width: 2000px;
}

/*mobile first*/
@media (max-width: 767px) {
    .logo {
        display: grid;
        width: 200px;
        height: 200px;
    }

    .nom {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: 2px;
    }

    .filtre {
        padding: 3px;
        background: black;
        color: white;
        border-radius: 20px;
    }
}

/*ordinateur */
@media screen {



    

}